body {
  font-family: sans-serif;
  background: #dee2e685;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

p {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.fade.in {
  opacity: 1;
}

.container, .sidebar, .second-row, .main {
  border: 3px solid #bddfd3;
}
